body {
    background-color: #F6F6F6;
    margin: 0;
    font-family: 'Spartan', sans-serif;
}

div {
    padding: 20px;
}

h1 {
    line-height: 1.5;
    padding-right: 10px;
}

h2 {
    margin-top: 0;
}

h3 {
    margin-top: 0;
}

h4 {
    font-size: 1.5em;
    font-weight: normal;
    padding-top: 10px;
}

a {
    color: #45B29A;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.25;
}

a:hover {
    color: black;
}

p {
    margin-top: 4px;
    margin-bottom: 4px;
}

table {
    border-spacing: 0;
}

hr {
    border: none;
    border-top: 7px dotted #45B29A;
    margin: 50px auto;
    width: 69px;
}

.hr-mini {
    width: 40px;
}

ul
{
    padding-left: 20px;
}

.right-cell {
    padding-left: 15px;
}

.icon {
    vertical-align: text-top;
}

#isb-name {
    font-size: 5rem;
    font-weight: normal;
    font-family: 'Berkshire Swash', cursive;
    text-shadow: 10px 10px #D9CCD1;
}

#top-container {
    color: #45B29A;
    background-color: #E0EbE8;
    padding: 50px 20px 0;
    z-index: 0;
}

#top-inner-container {
    position: relative;

    margin: auto;
    text-align: center;

    height: 750px;
    width: 750px;
    z-index: 0;
}

.inner-container {
    line-height: 2;
    margin: auto;
    width: 56.25rem;
}

.profile
{
    width: 42.25rem;
    margin: auto;
}

#middle-container {
    background-color: #EDF6E5;
}

.core-container
{
    padding: 0;
    width: 50%;
}

.column-left
{
    float: left;
}

.column-left-short
{
    float: left;
    width: 25%;
}

.column-right
{
    display: inline-block;
}

.clear-both
{
    clear: both;
}

.progress-bar
{
    background-color: transparent;
    height: 32px;
    margin: 4px 0;
    padding: 0;
}

.inner-progress-bar
{
    border: 1px solid #45B29A;
    height: 75%;
    margin: 4px 0;
    padding: 0;
}

.progress
{
    background-color: #45B29A;
    border: 1px solid black;
    height: 100%;
    margin: -1px 0 0 -1px;
    padding: 0;
}

#bottom-container {
    background-color: #45B29A;
    text-align: center;
}

.cloud {
    position: absolute;
}

#top-cloud {
    right: 0;
    top: 25px;
    z-index: -1;
}

#bottom-cloud {
    left: 0;
    top: 200px;
}

.mountain {
    float: none;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.isb-photo {
    float: left;
    margin-top: 10px;
    margin-right: 50px;
    width: 250px;
}

.button-bottom {
    background-color: #EDF6E5;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    color: black;
    padding: 10px 15px;
    text-decoration: none;
}

.button-bottom:hover {
    color: #45B29A;
}